<div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"><img src="../../../../../assets/01.jpg" class="img-responsive" alt="website template image"></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"><img src="../../../../../assets/02.jpg" class="img-responsive" alt="website template image"></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"><img src="../../../../../assets/03.jpg" class="img-responsive" alt="website template image"></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"><img src="../../../../../assets/04.jpg" class="img-responsive" alt="website template image"></div>
      </div>
    </div>
</div>
