<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary btn-block btn-category" *ngFor="let category of categories" (click)="showSubcategories(category.id)">
            <div>{{category?.name_group_es}}</div>
            <span class="badge badge-light">{{category?.count_daily}}</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="isSubcategory" (click)="back()">Atras</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Mas tarde</button>
      </div>
    </div>
  </div>
</div>
