/* You can add global styles to this file, and also import other style files */
.bg-image {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}
